@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #99a4aa;

}
body h1{
  font-family: 'Architects Daughter', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rampart One', cursive;
  color: #fff;
}
canvas{
  box-shadow: #000 20px 10px 50px;
}
footer{
  margin: 0;
  padding: 20px 0 20px 0;
  width:100%;
  position: fixed;
  margin-top: 740px;
  font-family:"Roboto",sans-serif;
}
footer span{
  color: #414447;
}
footer span a{
  text-decoration: none;
  color: #414447;
  font-weight: bold;
}
footer span a:hover{
  cursor: pointer;
  text-decoration: none;
  color: #4283c6;
}
